html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

/* BUTTON */
button.primary{
  background:linear-gradient(135deg,#3b82f6,#2563eb);
  box-shadow:
    0 4px 15px rgba(37,99,235,0.5),
    inset 0 1px 1px rgba(255,255,255,0.2);
}
button.primary:hover{
  background:linear-gradient(135deg,#60a5fa,#3b82f6);
}

button.alert{
  background:linear-gradient(135deg,#ef4444,#dc2626);
  box-shadow:
    0 4px 15px rgba(220,38,38,0.5);
}
button.alert:hover{
  background:linear-gradient(135deg,#f87171,#ef4444);
}

button.success{
  background:linear-gradient(135deg,#22c55e,#16a34a);
  box-shadow:
    0 4px 15px rgba(34,197,94,0.5);
}
button.success:hover{
  background:linear-gradient(135deg,#4ade80,#22c55e);

  box-shadow:
    0 6px 20px rgba(34,197,94,0.6),
    inset 0 1px 1px rgba(255,255,255,0.2);

  /* transform:translateY(-2px); */
}

button.alt{
  background:rgba(59,130,246,0.15);
  border:1px solid rgba(59,130,246,0.4);
}
button.alt:hover{
  background:rgba(59,130,246,0.25);
  border:1px solid rgba(59,130,246,0.7);

  box-shadow:
    0 6px 18px rgba(59,130,246,0.25),
    inset 0 1px 1px rgba(255,255,255,0.15);

  /* transform:translateY(-2px); */
}


.menu-main{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  margin-top: 80px;
}

.menu-main button{
  width: 250px;
  font-size: 20px;
  padding: 20px;
  /* background: linear-gradient(145deg,#22c55e,#16a34a); */
  color: white;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  box-shadow:
    0 4px 15px rgba(0,0,0,0.4),
    inset 0 1px 1px rgba(255,255,255,0.1);
  transition: all .25s ease;
}

.menu-main button:hover{
  transform: translateY(-2px);
  /* background: linear-gradient(145deg,#16a34a,#22c55e); */
}

.menu-main button:active{
  transform: scale(0.95);
}

/* Overlay */
#transition-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;

  opacity: 0;
  pointer-events: none;

  transition: opacity 0.2s ease;
  z-index: 9999;
}

/* stato attivo */
#transition-overlay.active {
  opacity: 1;
}



/* Footer video */
footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 20%;
}

.hero-video {
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  height: auto;

  border-radius: 16px;
  object-fit: cover;
}

@media (max-width: 600px) {
  .hero-video {
    max-width: 90%;
  }

  footer {
    padding: 10px;
  }
}